name: Publish movie-booking-commons

on:
  push:
    paths:
      - 'movie-booking-commons/**'
      - '.github/workflows/publish-common.yml'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build & Deploy to GitHub Packages
        run: |
          cd movie-booking-commons
          mvn -B -s ../settings.xml deploy
